@import url('https://fonts.cdnfonts.com/css/roobert');
:root{
    --main: #000;
    --second: #5918df;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roobert', sans-serif;
    
}
body{
    background-color: var(--main);
    color: aliceblue;
}
h1{
    font-weight: 500;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.navbar ul{
    text-decoration: none;
}
.navbar ul li{
    display: inline-block;
    margin: 0 10px;
    opacity: 0.8;
}
.navbar ul li a{
    color:aliceblue ;
    text-decoration: none;
}
.navbar .logo{
    margin-left: 10px;
}