@import url('https://fonts.cdnfonts.com/css/roobert');
:root{
    --main: #000;
    --second: #5918df;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roobert', sans-serif;
    
}
body{
    background-color: var(--main);
    color: aliceblue;
}
h1{
    font-weight: 500;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.navbar ul{
    text-decoration: none;
}
.navbar ul li{
    display: inline-block;
    margin: 0 10px;
    opacity: 0.8;
}
.navbar ul li a{
    color:aliceblue ;
    text-decoration: none;
}
.navbar .logo{
    margin-left: 10px;
}
canvas {
    height: 500px;
    width: 100vw;
}
.flex_presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;

}
.presentation p{
    font-size: 45px;
}
.presentation p span{
    background-color: var(--second);
    padding: 10px;
    border-radius: 10px;
}
.contact{
    position: fixed;
    right: 10px;
    bottom: 20px;
}
.contact li{
    list-style: none;
}
.contact li img{
    filter: grayscale(100);
    width: 40px;
    height: 40px;
    cursor: pointer;

}
.contact li img:hover{
    filter: none;
}

/* profil */

.profil{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.profil .moi{
    width: 500px;
}
.profil .moi h1{
    text-align: center;
}
.profil .user img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.wrap_competence {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--second);
}

.wrap_competence .competence h1{
    font-size: 40px;
}
.h1_comp{
    text-align: center;
    margin-top: 60px;

}

/* Experience */
.Experience{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
}
.Experience div{
    border: 1px solid var(--second) ;
    height: 300px;
}

/* bts sio */

.main_bts{
    font-family: 'Roobert', sans-serif;
    width: 100%;
    height: 90vh;
    padding: 20px;
}
.wrap_bts h1 , .wrap_bts h3{
    text-align: center;
    margin: 10px 0;
}
.wrap_bts p {
    padding: 0 30px;
    margin: 10px 0;
}
.bts_grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bts_grid .SISR , .bts_grid .SLAM{
    margin: 10px 0;
}

/* Ecole */

.ecole{
    width: 100%;
    position: relative;
    padding: 20px;
}
.ecole h1{
    text-align: center;
}
.projet{
    width:100% ;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--second);
}
.projet p{
    font-size: 45px;
}

/* Entreprise */

.Entreprise{
    width: 100%;
    position: relative;
    padding: 20px;
}
.Entreprise h1{
    text-align: center;
}
.Ent_contain{
    width:100% ;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--second);
}
.Ent_contain p{
    font-size: 45px;
}

/* veille technologique  */

.V_tech{
    width: 100%;
    padding: 20px;
    position: relative;
}
.V_tech h1 {
    text-align: center;
}
.V_tech p{
    padding: 10px 30px;
}
.tools{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tools button{
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 17px;
}
.lesveilles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lesveilles .first , .lesveilles .second{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--second);
}



